body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    text-align: justify;

}

h1 {
    font-size: 50px;
}

span {
    color: orange;
}

.flex-container {
    display: flex;
    padding-top: 10px;
}

.width {
    width: 50%;
    padding-left: 50px;
}

.width img {
    border: 5px solid white;
    border-radius: 100px;
    width: 60%;
    padding-left: 30%;
    padding-top: 10%;

}

.button {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(orange, red);
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 10px;
}

.welcome {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Dream {

    display: flex;
    padding-top: 10px;
    margin: 150px;

}

.Dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 90%;
}

.color {
    color: orange;
}

.experience-item {

    width: 50%;
    padding-left: 50px;
    box-shadow: 10px 10px 30px red;
    margin: 40px;
    padding-left: 10px;
    padding-right: 5px;
    border-left: 5px solid black;
}

#part2 {

    border-left: 5px solid blue;

}

.third-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat
}

.contact {
    color: black;
    font-size: 20;
    font-weight: 700;
}

footer {
    text-align: center;
    color: rgba(0, 0, 0, 0.473);
    margin-bottom: 5px;
}